.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  text-decoration: none;
  color: #2f80ed;
  letter-spacing: -0.2px; /*чтобы не переносилась стрелка на 1100px */
  transition: opacity 0.3s;
}

.khan__buy-link:hover {
  opacity: 0.6;
}
